:root {
    --white: #fff;
    --black: #000;
    --main: #999;
    --background: #111;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 350px;
    height: 500px;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#screen {
    width: 90%;
    height: 20%;
    background-color: var(--background);
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#previous {
    width: 90%;
    height: 40%;
    color: var(--white);
    font-size: 1.5rem;
    opacity: 50%;
}

#current {
    width: 90%;
    height: 40%;
    color: var(--white);
    font-size: 2rem;
}

#buttons {
    width: 90%;
    height: 65%;
    display: grid;
    grid-template-columns: repeat(4, 21.25%);
    grid-template-rows: repeat(5, 16%);
    grid-gap: 5%;
}

button {
    background-color: var(--background);
    color: var(--white);
    font-size: 1rem;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
}