:root {
    --background: #111;
    --main: #999;
    --screen: #111;
    --buttons: #111;
    --text: #fff;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 350px;
    height: 500px;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.screen {
    width: 90%;
    height: 20%;
    background-color: var(--screen);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#previous,
#current {
    width: 90%;
    height: 45%;
    color: var(--text);
    text-align: right;
    overflow: hidden;
    display: flex;
    justify-content: end;
    align-items: center;
}

#previous {
    font-size: 1.3rem;
    opacity: 50%;
}

#current {
    font-size: 2rem;
}

.buttons {
    width: 90%;
    height: 65%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5%;
}

button {
    background-color: var(--buttons);
    color: var(--text);
    font-size: 1.2rem;
    border: none;
}